@page
@model hii.Pages_Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.productos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.productos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Precio)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movie?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
