@page
@model hii.Pages_Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}
<body background="imagen.jgp">
    
</body>
<h1>Joyeria</h1>

<p>
    <a asp-page="Create">Lista de productos</a>
</p>
<form>
    <p>
        Titulo: <input type="text" asp-for="SearchString" />
        <input type="submit" value="filtro" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].productos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
